@media (max-width: 768px) {
  /* 여기는 휴대푠 기술 */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
  }

  body {
    position: relative;
  }

  header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 59px;
    padding: 0 16px 0 16px;
    background-color: rgba(255, 255, 255, 1);

    z-index: 1000;
    transition: 0.2s;
  }

  header.posTop {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.2s;
  }

  .posTop > div > div > ul > li > a {
    color: white !important;
  }

  header.hoverTop {
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 95%;
    height: 100%;
    /* background-color: white; */
    /* border-bottom: 1.2px solid #eee; */
    z-index: 1100;
  }

  .logoBox {
    align-content: center;
    width: 15%;
    height: 100%;
  }

  .menuBox {
    position: relative;
    align-content: center;
    width: 70%;
    height: 100%;
  }

  .icBox {
    position: relative;
    bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
  }

  .icBox > .login {
    margin-right: 10px;
  }

  .posTop > .top > .icBox > .login > a {
    color: white;
  }

  .login > a {
    color: #000;
  }

  .colorSoopLogo {
    position: relative;
    width: 66px;
    height: 41px;
    background-image: url("../image/colorSoopLogo.svg");
    background-repeat: no-repeat;
  }

  .posTop > div > div > .colorSoopLogo {
    position: relative;
    right: 13px;
    display: block;
    width: 76px;
    height: 41px;
    background-image: url("../image/soopLogo.svg");
    background-repeat: no-repeat;
  }

  .colorSoopLogo > a {
    position: absolute;
    width: 70px;
    height: 36px;
  }

  #gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  #gnb > li {
    height: 100%;
  }

  #gnb > li > a {
    display: none;
    align-items: center;
    padding: 0 27px;
    height: 100%;
    font-size: 16px;
    color: #5e636e;
  }

  .depth2_bg {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: white;
    opacity: 0;
    visibility: hidden;
  }

  .depth2_bg.on {
    display: none;
    visibility: visible;
    opacity: 1;
  }

  .depth2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  .depth2.on {
    visibility: visible;
    opacity: 1;
  }

  .depth2 > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 22px;
  }

  .depth2 > li > a {
    padding: 12px;
    color: #757b8a;
  }

  .depth2 > li > a:hover {
    padding: 12px;
    color: black;
  }

  .setLang {
    display: none;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-image: url("../image/colorEarthIcon.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .posTop .setLang {
    background-image: url("../image/earthIcon.svg");
  }

  .lang {
    display: none;
    font-size: 19px;
    background-color: transparent;
  }

  .lang:hover {
    cursor: pointer;
  }

  .posTop .lang {
    color: white;
  }

  .underArrow {
    display: none;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    background-image: url("../image/underTheArrow.svg");
  }

  .posTop .underArrow {
    background-image: url("../image//whiteCheck.svg");
  }

  .layerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: start;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 92px;
    height: 80px;
    padding: 22px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    opacity: 0;
  }
  .layerBox > button {
    font-size: 16px;
    background-color: #fff;
  }

  .layerBox > button:nth-child(1) {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(6, 70, 177);
  }

  .checkIcon {
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-image: url("../image/checkIcon.svg");
  }

  .posTop > .top > .icBox > .mbHambar {
    width: 30px;
    height: 30px;
    background-image: url("../image/hamBar.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mbHambar {
    width: 30px;
    height: 30px;
    background-image: url("../image/colorHamBar.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* 모바일 모달창 구현 */
  .mbModalBox {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    z-index: 1000;
  }
  .mbModalBox.on {
    display: flex;
  }

  .mbModalInBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #eee;
  }

  .mbModalLogoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #eee;
  }

  .mbModalLogoBox > div:nth-child(1) {
    width: 70px;
    height: 36px;
    background-image: url("../image/colorSoopLogo.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mbModalLogoBox > div:nth-child(2) {
    width: 30px;
    height: 30px;
    background-image: url("../image/closeBtn.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mbModalMainBox {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .mbModalMainBox > li > span:nth-child(1) {
    display: block;
    width: 90%;
    height: 60px;
  }

  .mbUnderArrow {
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../image/underTheArrow.svg");
    background-repeat: no-repeat;
    transition: 0.3s;
  }

  .mbUnderArrow.on {
    transform: rotate(180deg);
  }

  .mbModalMainBox > li {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    align-items: center;
  }

  .mbModalMainBox > li > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  .mbDepth2 > li {
    padding: 7px 0;
  }

  .mbDepth2 {
    color: #555555;
    padding: 0 20px 0 20px;
    width: 100%;
    background-color: #f8f8f8;
    max-height: 0; /* 초기 상태에서 높이를 0으로 설정 */
    overflow: hidden; /* 넘치는 내용을 숨김 */
    transition: 0.3s;
  }

  .mbDepth2.on {
    max-height: 500px; /* 충분히 큰 값으로 설정 */
    transition: 0.3s;
    padding: 20px 20px 20px 20px;
  }

  /* 모바일 모달창 구현 끝*/

  .layerBox.on {
    opacity: 1;
  }

  .st1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    overflow-x: hidden;
  }

  .container {
    position: relative;
    display: flex;
    width: 300%;
    height: 280px;
    transform: 0.5s;
  }

  .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .imgBox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .soopLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 83px;
    background-image: url("../image/soopLogo.svg");
  }

  .banner3Text {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 96px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
  }

  /* tabs 스타일 */

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 150px;
    height: 40px;
  }

  .tabs > div {
    width: 12px;
    height: 12px;
  }

  .tabs > div:nth-child(1) {
    margin-right: 14px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .tabs > div:nth-child(2) {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .tabs > div.on {
    background-color: white;
  }

  .stopBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 71%;
    transform: translateY(-50%);
    top: 50%;
    bottom: 0;
    width: 2.2%;
    height: 22px;
  }

  .stopBtn {
    position: relative;
    top: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    background-image: url("../image/stopBtn.svg");
    background-repeat: no-repeat;
  }

  .stopBtn.on {
    background-image: url("../image/playBtn.svg");
  }

  /* tabs 스타일 끝 */

  /* 컨텐츠 시작 */
  .main_info_wrap {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 672px;
    margin-top: 60px;
    padding: 0 24px;
  }

  .main_info_wrap > .inner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;
    margin: auto;
  }

  .vt_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .vt_wrap:nth-child(2) {
    flex-direction: column;
  }

  .career_box {
    position: relative;
    width: 100%;
    height: 95%;
    background-image: url("../image/subBanner.png");
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    margin-bottom: 10px;
  }

  .career_box > a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .txt_wrap {
    position: absolute;
    top: 33px;
    left: 32px;
    padding-right: 24px;
  }

  .txt_wrap > p {
    font-size: 13px;
  }

  .sec_tit {
    font-size: 19px;
    letter-spacing: -0.5px;
    line-height: 1.39;
    font-weight: 600;
  }

  .always_recuit_list_name {
    margin-top: 15px;
  }

  .always_recuit_list_name > li {
    position: relative;
    overflow: hidden;
    max-width: 240px;
    padding-left: 2px;
    color: #555;
    font-size: 13px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .more {
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 40px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    color: #000;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    z-index: 20;
  }

  .more:hover {
    scale: 1.05;
  }

  .stockBox,
  .finance_box {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    width: 100%;
    height: 48%;
    border-radius: 14px;
    z-index: 10;
  }

  .stockBox > a > p {
    margin-top: 3px;
    font-size: 14px;
  }

  .stockBox > a,
  .finance_box > a {
    position: absolute;
    padding: 32px;
    width: 100%;
    height: 100%;
    color: #000;
  }

  .finance_box > a > p {
    margin-top: 3px;
    font-size: 14px;
  }

  .value {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }

  .value > strong {
    font-size: 24px;
    letter-spacing: -0.6px;
    font-weight: 700;
    color: #000;
  }

  .value > span {
    margin: 0 0 4px 4px;
    color: #000;
    font-size: 13px;
  }

  .rang {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 32px;
    right: 32px;
    font-size: 19px;
    font-weight: 700;
  }

  .rang::before {
    content: "";
    width: 19px;
    height: 22px;
    margin-right: 5px;
    background-image: url("../image/upRed.svg");
    background-size: 100% 100%;
    margin-top: 3px;
  }

  .up {
    color: #e61818;
  }

  .ic_img {
    position: absolute;
    top: 32px;
    right: 0;
    width: 72px;
    height: 48px;
    object-fit: contain;
  }

  /* 컨텐츠 끝 */

  /* 중간배너 시작 */
  .main_bnr_wrap {
    width: 100%;
    height: 320px;
    margin-top: 45px;
  }

  .bnr_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url("../image/bg_link_bnr.png") 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 263px;
    padding: 32px;
    transition: 0.2s;
  }

  .bnr_box > span {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 700;
  }

  .bnr_box > p {
    color: #fff;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: -0.4px;
    text-align: center;
    font-weight: 700;
  }

  .bnr_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .bnr_btn > button {
    width: 200px;
    height: 38px;
    margin: 0 12px;
    border-radius: 30px;
    font-size: 15px;
  }

  .bnr_btn > a {
    background-color: #fff;
    width: 200px;
    height: 38px;
    margin: 12px 0 12px 0;
    border-radius: 30px;
    color: #000;
    font-size: 15px;
    text-align: center;
    align-content: center;
  }

  .btn_mob {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
  }
  /* 중간 배너 끝 */

  /* 보도자료 시작*/
  .main_new_wrap {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    padding: 24px 24px;
  }

  .main_new_wrap > .inner {
    flex-direction: column;
    align-items: center;
    height: 110%;
  }

  .controllerBox {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
  }

  .main_new_wrap > .inner > .sec_tit {
    width: 100%;
    color: #000;
    font-size: 19px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .new_list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .new_list_wrap {
    position: relative;
    display: flex;
    width: 2946px;
    height: 100%;
    transition: 0.5s;
    /* transform: translateX(-490px); */
    /* transform: translateX(-980px); */
    /* transform: translateX(-1470px); */
  }

  .new_list_wrap > li {
    width: 290px;
    margin-right: 34px;
    background-color: #fff;
    border-radius: 14px;
  }

  .new_list_wrap > li > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 14px;
  }

  .info_wrap {
    position: relative;
    padding: 32px;
  }

  .date {
    display: block;
    margin-bottom: 12px;
    color: #555;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .tit {
    color: #000;
    font-size: 19px;
    line-height: 1.39;
    font-weight: bolder;
  }

  .poster {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
  }

  .poster > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .controller {
    display: flex;
    justify-content: space-between;
    width: 60px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nextBtn,
  .prevBtn {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
  }

  .nextBtn:hover,
  .prevBtn:hover {
    scale: 1.05;
    cursor: pointer;
  }

  .nextBtn {
    right: 0;
    background: url(../image/nextBtn.svg) 50% 50% no-repeat;
  }

  .nextBtn.on,
  .prevBtn.on {
    background-color: #cccccc;
    scale: 1.1;
    cursor: auto;
    border-radius: 48px;
    opacity: 0.3;
  }

  .prevBtn {
    left: 0;
    background: url(../image/prevBtn.svg) 50% 50% no-repeat;
  }
  /* 보도자료 끝*/

  /* footer구현 */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    width: 100%;
    height: 143px;
    background-color: #fff;
  }

  .footerBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 100%;
  }

  .policy {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 32px 20px 32px 20px;
  }

  .policyTopTxt {
    display: flex;
  }

  .policyTopTxt > li:nth-child(1) {
    margin-right: 6px;
    font-weight: bolder;
  }

  .policyTopTxt > span {
    color: gray;
    opacity: 0.5;
  }

  .policyTopTxt > li:nth-child(3) {
    margin-left: 6px;
    color: #333;
  }

  .family {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .familyTxt {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
  }

  .familyTxt > .t_br {
    display: none;
  }

  .policyCenBox {
    margin-top: 20px;
    color: #aaa;
  }

  .policyCenTxt {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .policyCenTxt > li:nth-child(3) {
    display: none;
  }

  .policyCenTxt > span {
    display: none;
    margin: 0 6px 0 6px;
  }

  .policyCenBox > p {
    font-size: 12px;
    margin-top: 5px;
  }

  .family {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .familyBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 44px;
    padding: 0 24px 0 24px;
    background-color: #eee;
    border-radius: 20px;
    color: #333;
  }

  .familyBox > span {
    padding-left: 170px;
  }

  .mbFooter {
    width: 100%;
    height: 70px;
    background-color: white;
  }

  /* footer구현 끝*/

  /* 모달창 구현 */

  .modalBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3000;
  }

  .modalBox.on {
    display: block;
  }

  .modalInBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1270px;
  }

  .modalBoxImg {
    position: relative;
  }

  .modalBoxImg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
  }

  .modalBoxImg.img1 {
    background-image: url("../image/news_card1.jpg");
    width: 918px;
    height: 515px;
    /* 
  width:540px 
  height:303px
  */
  }

  .modalBoxImg.img2 {
    background-image: url("../image/news_card2.jpg");
    width: 918px;
    height: 1173px;
    /* 
  width:540px 
  height:690px
  */
  }

  .modalBoxImg.img3 {
    background-image: url("../image/news_card3.jpg");
    width: 852px;
    height: 891px;
    /* 
  width:501px 
  height:524px
  */
  }

  .modalBoxImg.img4 {
    background-image: url("../image/news_card4.jpg");
    width: 918px;
    height: 515px;
    /* 
  width:540px 
  height:303px
  */
  }

  .modalBoxImg.img5 {
    background-image: url("../image/news_card5.jpg");
    width: 918px;
    height: 918px;
    /* 
  width:540px 
  height:540px
  */
  }

  .modalBoxImg.img6 {
    background-image: url("../image/news_card6.jpg");
    width: 918px;
    height: 1029px;
    /* 
  width:540px 
  height:605px
  1.7배
  */
  }

  /* 모달창 구현 끝*/

  /* 페이지 상단으로 이동 버튼 */

  .arrowBtn {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 3000;
    width: 40px;
    height: 40px;
    background-image: url(../image/moveBtn.svg);
    opacity: 0;
    transition: 0.3s;
  }

  .arrowBtn:hover {
    scale: 1.1;
    cursor: pointer;
  }

  .arrowBtn.visible {
    opacity: 1;
  }
}

/*추가 수정*/
